In [1]:
import pandas as pd
import requests
import json

In [2]:
#pandas read_html by default searches for and attempts to parse all tabular data contained within <table> tags.
import pandas as pd

prem_table = pd.read_html('https://www.foxsports.com/soccer/standings?competition=1&season=2019')
Premier_table = prem_table[0]

print(len(prem_table))
print(type(prem_table))

print(Premier_table.head(18))

1
<class 'list'>
             English Premier League  GP  Pts   W   D   L  GF  GA  GD    Home  \
0                 1  Liverpool  LIV  29   82  27   1   1  66  21  45  15-0-0
1           2  Manchester City  MCI  28   57  18   3   7  68  31  37   9-2-2
2            3  Leicester City  LEI  29   53  16   5   8  58  28  30   9-3-3
3                   4  Chelsea  CHE  29   48  14   6   9  51  39  12   7-3-5
4         5  Manchester United  MAN  29   45  12   9   8  44  30  14   8-5-2
5             6  Wolverhampton  WLV  29   43  10  13   6  41  34   7   5-7-3
6           7  Sheffield United  SU  28   43  11  10   7  30  25   5   7-3-5
7         8  Tottenham Hotspur  TOT  29   41  11   8  10  47  40   7   8-2-4
8                   9  Arsenal  ARS  28   40   9  13   6  40  36   4   7-5-3
9                  10  Burnley  BUR  29   39  11   6  12  34  40  -6   7-2-6
10           11  Crystal Palace  CP  29   39  10   9  10  26  32  -6   6-4-5
11                 12  Everton  EVE  29   37  10   7  12  37  46  -9   7-4-3
12         13  Newcastle United  NU  29   35   9   8  12  25  41 -16   5-6-3
13             14  Southampton  SHN  29   34  10   4  15  35  52 -17   4-2-9
14  15  Brighton & Hove Albion  BHA  29   29   6  11  12  32  40  -8   4-6-4
15         16  West Ham United  WHU  29   27   7   6  16  35  50 -15   4-3-7
16                 17  Watford  WAT  29   27   6   9  14  27  44 -17   4-5-5
17             18  Bournemouth  BOU  29   27   7   6  16  29  47 -18   4-5-5

      Away
0   12-1-1
1    9-1-5
2    7-2-5
3    7-3-4
4    4-4-6
5    5-6-3
6    4-7-2
7    3-6-6
8    2-8-3
9    4-4-6
10   4-5-5
11   3-3-9
12   4-2-9
13   6-2-6
14   2-5-8
15   3-3-9
16   2-4-9
17  3-1-11

In [3]:
#convert the list to a dataframe
prem_table = ['English Premier League', 'GP', 'Pts', 'W', 'D', 'L', 'GF', 'GA', 'GD', 'Home', 'Away' ]

In [4]:
from pandas import DataFrame
df = DataFrame (Premier_table,columns=['English Premier League', 'GP', 'Pts', 'W', 'D', 'L', 'GF', 'GA', 'GD', 'Home', 'Away'])
print (df)

             English Premier League  GP  Pts   W   D   L  GF  GA  GD    Home  \
0                 1  Liverpool  LIV  29   82  27   1   1  66  21  45  15-0-0
1           2  Manchester City  MCI  28   57  18   3   7  68  31  37   9-2-2
2            3  Leicester City  LEI  29   53  16   5   8  58  28  30   9-3-3
3                   4  Chelsea  CHE  29   48  14   6   9  51  39  12   7-3-5
4         5  Manchester United  MAN  29   45  12   9   8  44  30  14   8-5-2
5             6  Wolverhampton  WLV  29   43  10  13   6  41  34   7   5-7-3
6           7  Sheffield United  SU  28   43  11  10   7  30  25   5   7-3-5
7         8  Tottenham Hotspur  TOT  29   41  11   8  10  47  40   7   8-2-4
8                   9  Arsenal  ARS  28   40   9  13   6  40  36   4   7-5-3
9                  10  Burnley  BUR  29   39  11   6  12  34  40  -6   7-2-6
10           11  Crystal Palace  CP  29   39  10   9  10  26  32  -6   6-4-5
11                 12  Everton  EVE  29   37  10   7  12  37  46  -9   7-4-3
12         13  Newcastle United  NU  29   35   9   8  12  25  41 -16   5-6-3
13             14  Southampton  SHN  29   34  10   4  15  35  52 -17   4-2-9
14  15  Brighton & Hove Albion  BHA  29   29   6  11  12  32  40  -8   4-6-4
15         16  West Ham United  WHU  29   27   7   6  16  35  50 -15   4-3-7
16                 17  Watford  WAT  29   27   6   9  14  27  44 -17   4-5-5
17             18  Bournemouth  BOU  29   27   7   6  16  29  47 -18   4-5-5
18              19  Aston Villa  AV  28   25   7   4  17  34  56 -22   5-2-6
19             20  Norwich City  NC  29   21   5   6  18  25  52 -27   4-3-7

      Away
0   12-1-1
1    9-1-5
2    7-2-5
3    7-3-4
4    4-4-6
5    5-6-3
6    4-7-2
7    3-6-6
8    2-8-3
9    4-4-6
10   4-5-5
11   3-3-9
12   4-2-9
13   6-2-6
14   2-5-8
15   3-3-9
16   2-4-9
17  3-1-11
18  2-2-11
19  1-3-11

In [5]:
#convert the dataframe into a csv to make it more readable
epl = df.to_csv('epl.csv')

In [6]:
df = pd.read_csv('epl.csv')
df

,Unnamed: 0,English Premier League,GP,Pts,W,D,L,GF,GA,GD,Home,Away
0,0,1 Liverpool LIV,29,82,27,1,1,66,21,45,15-0-0,12-1-1
1,1,2 Manchester City MCI,28,57,18,3,7,68,31,37,9-2-2,9-1-5
2,2,3 Leicester City LEI,29,53,16,5,8,58,28,30,9-3-3,7-2-5
3,3,4 Chelsea CHE,29,48,14,6,9,51,39,12,7-3-5,7-3-4
4,4,5 Manchester United MAN,29,45,12,9,8,44,30,14,8-5-2,4-4-6
5,5,6 Wolverhampton WLV,29,43,10,13,6,41,34,7,5-7-3,5-6-3
6,6,7 Sheffield United SU,28,43,11,10,7,30,25,5,7-3-5,4-7-2
7,7,8 Tottenham Hotspur TOT,29,41,11,8,10,47,40,7,8-2-4,3-6-6
8,8,9 Arsenal ARS,28,40,9,13,6,40,36,4,7-5-3,2-8-3
9,9,10 Burnley BUR,29,39,11,6,12,34,40,-6,7-2-6,4-4-6
10,10,11 Crystal Palace CP,29,39,10,9,10,26,32,-6,6-4-5,4-5-5
11,11,12 Everton EVE,29,37,10,7,12,37,46,-9,7-4-3,3-3-9
12,12,13 Newcastle United NU,29,35,9,8,12,25,41,-16,5-6-3,4-2-9
13,13,14 Southampton SHN,29,34,10,4,15,35,52,-17,4-2-9,6-2-6
14,14,15 Brighton & Hove Albion BHA,29,29,6,11,12,32,40,-8,4-6-4,2-5-8
15,15,16 West Ham United WHU,29,27,7,6,16,35,50,-15,4-3-7,3-3-9
16,16,17 Watford WAT,29,27,6,9,14,27,44,-17,4-5-5,2-4-9
17,17,18 Bournemouth BOU,29,27,7,6,16,29,47,-18,4-5-5,3-1-11
18,18,19 Aston Villa AV,28,25,7,4,17,34,56,-22,5-2-6,2-2-11
19,19,20 Norwich City NC,29,21,5,6,18,25,52,-27,4-3-7,1-3-11

In [7]:
#rename English Premier League to Teams
df.rename(columns={'English Premier League':'Teams'}, inplace=True)

In [8]:
df.columns

Index(['Unnamed: 0', 'Teams', 'GP', 'Pts', 'W', 'D', 'L', 'GF', 'GA', 'GD',
       'Home', 'Away'],
      dtype='object')

In [9]:
df = df.drop('Unnamed: 0' , axis=1)

In [10]:
df.columns

Index(['Teams', 'GP', 'Pts', 'W', 'D', 'L', 'GF', 'GA', 'GD', 'Home', 'Away'], dtype='object')

In [11]:
df.dtypes

Teams    object
GP        int64
Pts       int64
W         int64
D         int64
L         int64
GF        int64
GA        int64
GD        int64
Home     object
Away     object
dtype: object

In [12]:
#create column that shows the ratio of  total goals(gf) against total games played, total conceded/GP and points/game
df['Goal_Game'] = round(df['GF']/df['GP'],2)
df['defenseratio'] = round(df['GA']/df['GP'],2)
df['PPG'] = round(df['Pts']/df['GP'],2)

In [43]:
df['GF'].iloc[0:20]

0     66
1     68
2     58
3     51
4     44
5     41
6     30
7     47
8     40
9     34
10    26
11    37
12    25
13    35
14    32
15    35
16    27
17    29
18    34
19    25
Name: GF, dtype: int64

In [13]:
df

,Teams,GP,Pts,W,D,L,GF,GA,GD,Home,Away,Goal_Game,defenseratio,PPG
0,1 Liverpool LIV,29,82,27,1,1,66,21,45,15-0-0,12-1-1,2.28,0.72,2.83
1,2 Manchester City MCI,28,57,18,3,7,68,31,37,9-2-2,9-1-5,2.43,1.11,2.04
2,3 Leicester City LEI,29,53,16,5,8,58,28,30,9-3-3,7-2-5,2.00,0.97,1.83
3,4 Chelsea CHE,29,48,14,6,9,51,39,12,7-3-5,7-3-4,1.76,1.34,1.66
4,5 Manchester United MAN,29,45,12,9,8,44,30,14,8-5-2,4-4-6,1.52,1.03,1.55
5,6 Wolverhampton WLV,29,43,10,13,6,41,34,7,5-7-3,5-6-3,1.41,1.17,1.48
6,7 Sheffield United SU,28,43,11,10,7,30,25,5,7-3-5,4-7-2,1.07,0.89,1.54
7,8 Tottenham Hotspur TOT,29,41,11,8,10,47,40,7,8-2-4,3-6-6,1.62,1.38,1.41
8,9 Arsenal ARS,28,40,9,13,6,40,36,4,7-5-3,2-8-3,1.43,1.29,1.43
9,10 Burnley BUR,29,39,11,6,12,34,40,-6,7-2-6,4-4-6,1.17,1.38,1.34
10,11 Crystal Palace CP,29,39,10,9,10,26,32,-6,6-4-5,4-5-5,0.90,1.10,1.34
11,12 Everton EVE,29,37,10,7,12,37,46,-9,7-4-3,3-3-9,1.28,1.59,1.28
12,13 Newcastle United NU,29,35,9,8,12,25,41,-16,5-6-3,4-2-9,0.86,1.41,1.21
13,14 Southampton SHN,29,34,10,4,15,35,52,-17,4-2-9,6-2-6,1.21,1.79,1.17
14,15 Brighton & Hove Albion BHA,29,29,6,11,12,32,40,-8,4-6-4,2-5-8,1.10,1.38,1.00
15,16 West Ham United WHU,29,27,7,6,16,35,50,-15,4-3-7,3-3-9,1.21,1.72,0.93
16,17 Watford WAT,29,27,6,9,14,27,44,-17,4-5-5,2-4-9,0.93,1.52,0.93
17,18 Bournemouth BOU,29,27,7,6,16,29,47,-18,4-5-5,3-1-11,1.00,1.62,0.93
18,19 Aston Villa AV,28,25,7,4,17,34,56,-22,5-2-6,2-2-11,1.21,2.00,0.89
19,20 Norwich City NC,29,21,5,6,18,25,52,-27,4-3-7,1-3-11,0.86,1.79,0.72

In [14]:
df = df.drop('Away', axis=1)

In [15]:
df1 = df.drop('Home', axis=1)

In [16]:
df1.columns

Index(['Teams', 'GP', 'Pts', 'W', 'D', 'L', 'GF', 'GA', 'GD', 'Goal_Game',
       'defenseratio', 'PPG'],
      dtype='object')

In [57]:

def geteplteamdata(Teams):
    epldata = df1
    totalwins = epldata['W'].iloc[0]
    totaldraws = epldata['D'].iloc[0]
    totallosses = epldata['L'].iloc[0]
    totalgoalsscored = epldata['GF'].iloc[0]
    totalconceeded = epldata['GA'].iloc[0]
    goalgameratio =epldata['Goal_Game'].iloc[0]
    defenseratio = epldata['defenseratio'].iloc[0]
    pointspergame = epldata['PPG'].iloc[0]
    if totalwins ==0:
        totaldraws=0
        totallosses=0
        totalgoalsscored=0
        totalconceeded=0
        goalgameratio=0
        defenseratio=0
        pointspergame=0
    return[totalwins, totaldraws, totallosses,totalgoalsscored, totalconceeded, goalgameratio, defenseratio, pointspergame]

In [58]:
geteplteamdata('Liverpool LIV')

[27, 1, 1, 66, 21, 2.28, 0.72, 2.83]

In [48]:
geteplteamdata('4  Chelsea  CHE')

[27, 1, 1, 66, 21, 2.28, 0.72, 2.83]

In [ ]:
teamlist = df1['Teams'].tolist()

In [ ]:
teamlist

In [ ]:
def createteamDict(Teams):
    teamDict = collections.defaultDict(list)
    for Teams in teamlist:
        teamvector = geteplteamdata(Teams)
        teamDict[Teams] = teamvector
        return teamDict

In [ ]:
createteamDict(Teams)